
:root {
	--col-acc0: #ffa31a;
	--col-acc1: #6a49ff;
	--col-background: #e4e4e4;
	--col-footer: #0a0813;
	--col-back0: #9fb2d4;
	--col-back1: #b099bd;
	--col-profile0: #e0b986;
	--col-profile1: #b1db8f;
	--col-profile2: #97d4ca;
	--col-g0: #1b1b1b;
	--col-g1: #292929;
	--col-g2: #808080;

	--shadow0: 0px 5px 15px 15px rgba(0, 0, 0, .15);
}

img {
	box-shadow: 0px 5px 15px 15px rgba(0, 0, 0, .25);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	* {
		--col-acc0: #ffa31a;
		--col-back0: #1b1b1b;
	}
}



@font-face {
	font-family: LatoHeavy;
	src: url("../Lato-Heavy.ttf");
}



body {
	margin: 0;
	padding: 0;

	background-color: var(--col-background);
	color: var(--col-g0);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	margin: 0;
	text-align: center;
	text-wrap: balance;
}

h2 {
	margin: 32px;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	text-wrap: balance;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10000;
	margin-bottom: 30px;
	padding: 16px;
	background-color: var(--col-acc0);
	color: var(--col-g0);
	font-family: LatoHeavy;
	font-size: 40px;

	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}



.tilted-section {
	background: var(--color);
}

/* If a div is right before a section element, become the tilted transition */
.tilted-section > div:first-child {
	width: 100%;
	height: var(--tsize);
	background: linear-gradient(to bottom var(--tdir), var(--col-background) calc(50% - 0.5px), transparent calc(50% + 0.5px));
}

.tilted-section > section {
	
}

/* If a div is right after a section element, become the tilted transition */
.tilted-section > div:last-child {
	width: 100%;
	height: var(--bsize);
	background: linear-gradient(to top var(--bdir), var(--col-background) calc(50% - 0.5px), transparent calc(50% + 0.5px));
}



.package-grid {
	margin: 5vw;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0;
}

.package {
	width: 95%;
	height: 300px;
	border-radius: 12px;
	box-shadow: var(--shadow0);
	padding: 20px;
}



.image-text-pair {
	margin: 40px 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	gap: 50px;
}

.image-text-pair img {
	width: 40vw;
}

@media (max-width: 900px) {
	.image-text-pair {
		margin: 20px 15vw;
		gap: 20px;
		flex-direction: column;
	}

	.image-text-pair img {
		width: 70vw !important;
	}
}





.fade-in {
	opacity: 0;
	transform: translateY(70px);
	transition: opacity ease, transform ease;
	transition-duration: 0.4s, 0.8s;
	will-change: opacity, visibility;
}
.fade-in[reveal] {
	opacity: 1;
	transform: none;
}





#profile-row {
	margin: 40px 7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

@media (max-width: 900px) {
	#profile-row {
		flex-direction: column;
	}
}

.profile {
	margin: 0;
	padding: 20px;
	max-width: 400px;
	width: 100%;
	height: 400px;
	border-radius: 10px;
	background-color: var(--color);
	/* box-shadow: 15px 15px; */
	box-shadow: var(--shadow0);
}

.profile .name-and-face {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile .name-and-face h2 {
	margin: 6px;
	padding: 0;
	text-align: right;
}

.profile img {
	border-radius: 999999px;
	box-shadow: var(--shadow0);
	width: 50%;
}



#repetroire-table {
	width: 80vw;
	margin: auto;
	padding: 6px;
	background: linear-gradient(120deg, #e6cee6, #bdc9d3);
	border-radius: 12px;
	border-collapse: 2px;
	font-size: 18px;
	text-align: left;
	box-shadow: var(--shadow0);
}

#repetroire-table tr {
	border-radius: 12px;
}

#repetroire-table td {
	margin: 0;
	padding: 0;
}



footer {
	margin-top: 80px;
	padding: 100px;
	background-color: var(--col-footer);
	color: var(--col-background);
	font-size: 18px;
}
